<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artwork Search</title>
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <link rel="stylesheet" type="text/css" href="static/image_grid.css">
</head>
<body>
    <nav class="nav" id="navBar">
        <ul class="left">
            <a href="/"><li id="navHome">Virtual Gallery</li></a>
        </ul>
        <ul class="right">
            <a href="/search"><li id="navArtwork">Artwork</li></a>
            <a href="/bidding-portal"><li id="navPortal">Bidding Portal</li></a>
            <a href="/"><li id="navLogin">Login</li></a>
        </ul>
    </nav>
    <div class="horizontal-section">
		<p class="center">Select a category</p>
        <div class="artcats">
            <ul>
                <a href="/search"><li id="drawingCat">Drawing</li></a>
                <a href="/search"><li id="paintingCat">Painting</li></a>
                <a href="/search"><li id="sculptureCat">Sculpture</li></a>
                <a href="/search"><li id="photographyCat">Photography</li></a>
                <a href="/search"><li id="allCats">All Artwork</li></a>
            </ul>
        </div>
		<div class="image-grid" id="imageGrid" name="image_grid">
            <div class="image-container">
                <div class="image-item">
                    <img src="static/images/1_artwork_1.jpg">
                    <div class="image-desc">
                        <ul>
                            <li class="artwork-title">Cloud</li>
                            <li class="artist-name">Alice Allen</li>
                            <li class="medium">Medium: Coloured ink on paper</li>
                            <li class="category">Category: Painting</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <div class="image-item">
                    <img src="static/images/1_artwork_2.jpg">
                    <div class="image-desc">
                        <ul>
                            <li class="artwork-title">River</li>
                            <li class="artist-name">Alice Allen</li>
                            <li class="medium">Medium: Coloured ink on paper</li>
                            <li class="category">Category: Painting</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <div class="image-item">
                    <img src="static/images/1_artwork_6.jpg">
                    <div class="image-desc">
                        <ul>
                            <li class="artwork-title">Stairs</li>
                            <li class="artist-name">Alice Allen</li>
                            <li class="medium">Medium: Coloured ink on paper</li>
                            <li class="category">Category: Painting</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <div class="image-item">
                    <img src="static/images/2_artwork_7.jpg">
                    <div class="image-desc">
                        <ul>
                            <li class="artwork-title">Eye 1</li>
                            <li class="artist-name">Bob Robson</li>
                            <li class="medium">Medium: Ballpoint pen on paper</li>
                            <li class="category">Category: Drawing</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <div class="image-item">
                    <img src="static/images/2_artwork_10.jpg">
                    <div class="image-desc">
                        <ul>
                            <li class="artwork-title">Eye 4</li>
                            <li class="artist-name">Bob Robson</li>
                            <li class="medium">Medium: Ballpoint pen on paper</li>
                            <li class="category">Category: Drawing</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <div class="image-item">
                    <img src="static/images/3_artwork_11.jpg">
                    <div class="image-desc">
                        <ul>
                            <li class="artwork-title">Blue</li>
                            <li class="artist-name">Charlie Charlton</li>
                            <li class="medium">Medium: Coloured pencil on paper</li>
                            <li class="category">Category: Drawing</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <div class="image-item">
                    <img src="static/images/3_artwork_14.jpg">
                    <div class="image-desc">
                        <ul>
                            <li class="artwork-title">Rainbow</li>
                            <li class="artist-name">Charlie Charlton</li>
                            <li class="medium">Medium: Coloured pencil on paper</li>
                            <li class="category">Category: Drawing</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <div class="image-item">
                    <img src="static/images/4_artwork_15.jpg">
                    <div class="image-desc">
                        <ul>
                            <li class="artwork-title">Marmot</li>
                            <li class="artist-name">Eve Evans</li>
                            <li class="medium">Medium: Photograph</li>
                            <li class="category">Category: Photography</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="image-container">
                <div class="image-item">
                    <img src="static/images/4_artwork_19.jpg">
                    <div class="image-desc">
                        <ul>
                            <li class="artwork-title">Seashell</li>
                            <li class="artist-name">Eve Evans</li>
                            <li class="medium">Medium: Sandstone</li>
                            <li class="category">Category: Sculpture</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</div>
</body>
</html>