<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bidding Portal</title>
    <link rel="stylesheet" type="text/css" href="static/main.css">
</head>
<body>
    <nav class="nav" id="navBar">
        <ul class="left">
            <a href="/"><li id="navHome">Virtual Gallery</li></a>
        </ul>
        <ul class="right">
            <a href="/search"><li id="navArtwork">Artwork</li></a>
            <a href="/bidding-portal"><li id="navPortal">Bidding Portal</li></a>
            <a href="/"><li id="navLogin">Login</li></a>
        </ul>
    </nav>
    <div class="box">
        <p class="title">Bidding Portal</p>
    </div>
</body>
</html>